<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://www.atec.pt/templates/atc16/favicon.ico">
    
    <title>Blog ATEC</title>
</head>

<body>
    <!-- nosso cabeçalho -->
    <!-- <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-weight: bold;">Atec Blog 
  				<span th:text="${novotpsi.titulo}"></span>
  			</a>
            <a href="/tpsi" class="btn btn-primary" role="button">TPSI Post</a>
        </nav>
    </header> -->
	
	 <div class="jumbotron jumbotron-fluid" style="background-color: #A7E2FF;">
  		<div class="container">
    		<h1><a class="display-4" href="/" style="color: #4E4259;">Blog ATEC</a></h1>
    		<h5 style="color: white;">Novas Metas & Novos Horizontes</h5>
    		<a href="/mecatronica" class="btn btn-primary" role="button" style="margin-bottom: 0px; margin-top: 5px;">Ir para Blog TM</a>
  		</div>
	</div>
    
    <!-- nossa listagem dos POST -->
    <main>

        <div class="container" style="width: 90%; padding-bottom: 10px; padding-top: 10px; margin: auto;">
            <!-- nossa breadcrump -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                    <!-----------------------------------------Nosso Curso   -->
                    <li class="breadcrumb-item"><a href="/postatec">Blog ATEC</a></li>
                    <li class="breadcrumb-item active" aria-current="mecatronicacurso"><span th:text="${novomecatronica.curso}"></span></li>
            	</ol>
            </nav>
            <!-- nosso card -->
            <article>
                <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;">
                	<span th:text="${novomecatronica.titulo}"></span>
                </h1>
                
                <p class="card-subtitle mb-2 text-muted">
                    <i class="material-icons">person_outline</i>
                    <span th:text="${novomecatronica.autor}"></span>
                    <br>
                    <i class="material-icons">date_range</i>
                    <span th:text="${novomecatronica.data}"></span>
                </p>
                
                <div class="container" style="width: 90%; height: 400px; padding-bottom: 10px; padding-top: 10px; margin: auto;">
                	<!-- <img alt="ATEC Curso Tecnologias e Programação" src="images/ATEC_Curso-Tecnologias-e-Programacao_mobile.jpg" width="450" height="300"> -->
                	
                	<iframe id="video" style="width: 90%; height: 400px;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="300" src="https://www.youtube-nocookie.com/embed/TtN-85BzmWU?autoplay=1&controls=2&autohide=1&rel=0&loop=1&modestbranding=1&showinfo=0&enablejsapi=1&origin=https%3A%2F%2Fwww.atec.pt&widgetid=2"></iframe>
                </div>
                
                <section>
                    <p class="card-text" style="margin-top: 40px;"><span th:utext="${novomecatronica.texto}"></span></p>
                </section>
            </article>

        </div>
    </main>

</body>

</html>